blas
ca-certificates
certifi
click
flask==1.0.2
gunicorn==19.9.0
intel-openmp
itsdangerous
jinja2==2.10
libcxx
libcxxabi
libedit
libffi
libgfortran
markupsafe
mkl
mkl_fft
mkl_random
ncurses
numpy
numpy-base
openssl
pip==18.1
python==3.7.1
readline
scikit-learn==0.19.1
scipy==1.1.0
setuptools
sqlite
tk
werkzeug
wheel
xz
zlib
