<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MSDS 7331 Olympic Analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Olympic Sport Recommender</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Team Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Find Sport</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Olympics</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Free, Fast, Accurate. Find the best fitting olympic sport for you! </h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Built For Fun</h2>
            <p class="text-white-50">This model allows for any user to enter their weight and height in order to get an olympic sport recommendation. The systems is not responsible for
                turning you into an amazing olympic athlete, but it will be a good place to start in knowing what sport your body type most fits for the most optimal chance of success.
            </p>
          </div>
        </div>
        <img src="static/img/olympic-rings.png" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="static/img/archery2.jpeg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>For Brian Coari</h4>
              <p class="text-black-50 mb-0">competing in <a href="https://worldarchery.org/news/142046/beginners-guide-archery-olympics">Archery </a> at the Olympic Games use a recurve bow to propel arrows towards targets set 70 metres away. The targets measure 122cm in diameter, and have 10 concentric scoring rings, separated into five colours. The inner colour, the gold, scores 10 or nine points.</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="static/img/wrestling.jpeg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">For Stephen Merritt</h4>
                  <p class="mb-0 text-white-50"> <a href="https://en.wikipedia.org/wiki/Wrestling">Wrestling </a> is a combat sport involving grappling type techniques such as clinch fighting, throws and takedowns, joint locks, pins and other grappling holds. The sport can either be theatrical for entertainment (see professional wrestling), or genuinely competitive.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="static/img/speed-skating.jpeg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">For Corey Thigpen</h4>
                  <p class="mb-0 text-white-50"><a href="https://en.wikipedia.org/wiki/Speed_skating">Speed skating </a> is a competitive form of ice skating in which the competitors race each other in travelling a certain distance on skates. ... In the Olympic Games, long-track speed skating is usually referred to as just "speed skating", while short-track speed skating is known as "short track".</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Three Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="static/img/fencing.jpeg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">For Quentin Thomas</h4>
                  <p class="mb-0 text-white-50"><a href="https://en.wikipedia.org/wiki/Fencing_at_the_Summer_Olympics">Fencing </a> at the Summer Olympics. Fencing has been contested at every Summer Olympic Games since the birth of the modern Olympic movement at the 1896 Summer Olympics in Athens. Women's foil made its Olympic debut in Paris, during the 1924 Olympic Games.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Get Your Sport Recommendation!</h2>
            <form  style="margin:0 auto;width:175px;" class="form-inline-block d-flex" action="/sport" method="get">
             <fieldset>
                <select name="sex" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"><option value="male">Male</option>   <option value="female">Female</option></select><br>
                <select name="olympic_game" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"><option value="male">Summer</option>   <option value="female">Winter</option></select><br>
                <input type="number" placeholder="Age" name="age" min="10" max="90" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"><br>
                <input type="number" name="weight" min="50" max="400" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Weight lbs.. 145"><br>
                <input type="number" name="height"  min="100"  max="220" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Height cm 172.72"`"><br>
                <button type="submit" class="btn btn-primary mx-auto"> Get Sport</button>
             </fieldset>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">Dallas, TX 75205</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">datascience@smu.edu</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">1-844-768-5637</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://twitter.com/SMUdatascience" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/SMUdatascience/" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://github.com/TheQuengineer/olympics" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        SMU DataScience &copy; Quentin, Corey, Steven, Brian 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/grayscale.min.js"></script>

  </body>

</html>
